<!DOCTYPE html>
<html lang="en">

<!--==========================
            HEAD
============================-->
<head>
    <%-include('../partials/head') %>
    <!--Enlazando con el css styles_products-->
    <link rel="stylesheet" href="/css/styles-products.css">
    <title>Products</title>
</head>

<!--==========================
            BODY
============================-->
<body>
  <!--HEADER-->
  <%- include('../partials/header') %>
    <!--==========================
        BORDE ENTRE HEADER Y MAIN
    ============================-->      
    <div class="space-between-header-main">
    </div>
   
<!--==========================
           MAIN
============================--> 
    <main>
       
        <div class="main-principal">
            
            <div class="main-principal-carrusel">
                <div class="bar-carrusel">
                    <div class="carrusel-principal">
                        <img src="/img/products/<%= productDetail.image%>" alt="Homalomena 'Selby'1">
                    </div>
                    <div class="carrusel-secundario">
                        <div>
                            <img src="/img/products/<%= productDetail.image%>" alt="Homalomena 'Selby'2">
                        </div>
                        <div>
                            <img src="/img/products/<%= productDetail.image%>" alt="Homalomena 'Selby'3">
                        </div>
                        <div>
                            <img src="/img/products/<%= productDetail.image%>" alt="Homalomena 'Selby'4">
                        </div>

                    </div>
                </div>
                <div class="main-secundario-products">
                    <div class="name-product">
                        <h1><%= productDetail.name%></h1>
                        <div class="size-product">
                            <span>Maceta: <%= productDetail.capacity%></span>
                        </div>
                        <div class="cost-product">
                            <span>$25.00</span>
                        </div>
                        
                    </div>
            
                    <div class="product-add">
                        <div class="amount-button">
                            <div class="amount-group">
                                <a href=""><i class="far fa-minus-square"></i></a>
                                <input type="text" value="1">
                                <a href=""><i class="far fa-plus-square"></i></a> 
                            </div>
                        </div>
                        <div class="product-detail-action">
                            <button type="submit" name="add">Agregar al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
        

        <div class="main-description">
            <section class="description-bar">
                <article class="article-description">
                    <ul>
                        <%= productDetail.description %>
                    </ul>
                </article>
            </section>
        </div>

        <div class="title-otherproducts">
            <h3>Las personas que vieron este producto también vieron</h3>
        </div>

        <section class="main-section-otherProducts">
            <% let productosOtros= productOther.slice(0,6)   %>
            <% productosOtros.forEach(producto =>  { %>
            <div class="div-otherProducts">
                <div class="main-otherProducts">
                    <article class="article-otherProducts">
                        <div class="div-img-otherProducts">
                            <img src="/img/products/<%= producto.image %>" alt="">
                        </div>
                        <div class="name-otherProducts">
                            <h1><%= producto.name %></h1>
                            <h3>$<%= producto.price %></h3>
                        </div>
                    </article>
               </div>
            </div>
            <% }) %>
        </section>    

        

                   

    </main>


<!--=====================================
    F O O T E R
======================================-->
<%- include('../partials/footer') %>
    

</body>
</html>