<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head', {title:"categorys", style:"styles-category"}) %>
<body>
      <!--
        HEADER
      -->
  <%- include('../partials/header') %>

  <main>
  <!----------------------
            BANNER
    ---------------------->
  <div class="main">
    <% if (category.id == 1) { %>
      <div class="main-banner-plinterior">
        <h1 class="titulo-listado"><%= category.name %></h1>
    </div>
    <% } else if (category.id == 2) {%>
      <div class="main-banner-plexterior">
        <h1 class="titulo-listado"><%= category.name %></h1>
      </div>
    <% } %>

      <div class="productsList">
        <% for( let i = 0; i< products.length; i++ ) { %>
          <% if ((products[i].categoria) && (products[i].tamaños)) { %> 
        <div class="producto-destacado">
          <article>
            <div class="div-img">
              <a href="/products/detail/<%= products[i].id%>"><img src="/img/products/<%= products[i].image %>"></a>
               <!--ETIQUETA DE DESCUENTO-->
               <% if (products[i].discount> 0) { %>
                <div class='divDescuento'>
                  <p class='descuento'>Descuento</p>
                  <p class='descuento'><%= products[i].discount %>%</p>       
                </div>
              <% } %>
            </div>
            <div class="productsDescription">
                <div>
                  <p class="nombre-planta"><%= products[i].name %></p>
                  <p class="nombre-cienti">Maceta  <% for(j=0; j<products[i].tamaños.length; j++) {%>
                    <% if (j == products[i].tamaños.length - 1) { %>
                      <span><%= products[i].tamaños[j].name %> </span>
                    <% }else{%>
                      <span><%= products[i].tamaños[j].name %>-</span>
                    <% } %>
                  <% } %>
                   </p>
                </div>
                <div class="precio">
                  <% if (products[i].discount> 0) { %>
                    <p id="precio-sinDescuento">$<%= products[i].price %></p>
                <% } %>
                  <p> $<%= (products[i].price- (products[i].price * (products[i].discount * 0.01)))%></p>
                </div>
                <% if(locals.userLogged && locals.userLogged.rol_id == 1) {%>
                  <form action="/products/delete/<%= products[i].id %>?_method=DELETE" method="POST" class="forms-button">
                      <a href="/products/edit/<%= products[i].id%>"><i class="fas fa-edit"></i></a>
                      <button type="submit"><i class="fas fa-trash"></i></button>
                  </form>
                <% } %>
              </div>
          </article>  
        </div>
        <% } %>
      <% } %>
      </div>
  </div>
</main>
  
      <!-- 
        FOOTER
       -->
  <%- include('../partials/footer') %>
  <script src='/js/menu-hamburguer/hamburguer-button.js'></script>

</body>
</html>