<!DOCTYPE html>
<html lang="en">

<!--==========================
            HEAD
============================-->
<head>
    <%-include('../partials/head') %>
    <!--Enlazando con el css styles_products-->
    <link rel="stylesheet" href="/css/styles-productEdit.css">
    <title>Products</title>
</head>

<!--==========================
            BODY
============================-->
<body>
  <!--HEADER-->
  <%- include('../partials/header') %>
    <!--==========================
        BORDE ENTRE HEADER Y MAIN
    ============================-->      
    <div class="space-between-header-main">
    </div>
   
<!--==========================
           MAIN
============================--> 


<main>
<section>
<!--CONTENEDOR DE TODO EL FORMULARIO-->
  <div class="cajaPrincipal">
    <h2>EDITAR PRODUCTO</h2>
    <!--LINEA BAJO EL TEXTO-->
    <hr color="#edafa4">
    <form action="/products/edit/<%= productEdit.cod_product %>?_method=PUT" method="Post" enctype="multipart/form-data">
        <div class="p-editproduct">
        <p>EDITANDO EL PRODUCTO: <%= productEdit.name%></p>
        </div>
          <!--CONTENEDOR DE FORMULARIOS SIN CARGAR IMAGENES NI BOTON-->
          <div class="forlularios">
              <!--CONTENEDOR NOMBRE DEL PRODUCTO-->
              <div class="cajaName">
                  <label for="name" class="nombreProd">Nombre del producto:</label>
                  <input type="text" id="name" name="name" class="form-cajaName" value="<%= productEdit.name%>">
              </div>
              <!--CONTENEDOR CATEGORIA-->
              <div class="cajaCategory">
                  <label for="category" class="categoriaProd">Categoría:</label>
                  <select name="category" id="category" class="form-cajaCategory" value="">
                      <option value="<%= productEdit.category%>">Elegí</option>
                      <option value="plantas-interior">Plantas interior</option>
                      <option value="plantas-exterior">Plantas exterior</option>
                  </select>
              </div> 
              <!--CONTENEDOR CAPACIDAD-->
              <div class="cajaCapacity">
                <label for="capacity" class="capasidadProd">Maceta:</label>
                <select name="capacity" id="capacity" class="form-cajaSection">
                  <option value="<%= productEdit.capacity%>">Elegí</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="30">30</option>
                </select>
              </div>
              <!--CONTENEDOR PRECIO-->
              <div class="cajaPrice">
                  <label for="price" class="precioProd">Precio del producto $:</label>
                  <input type="text" id="price" name="price" class="form-cajaPrice" value="<%= productEdit.price%>">
              </div>
              <!--CONTENEDOR DESCUENTO-->
              <div class="cajaDiscount">
                <label for="discount" class="descuProd">Descuento %:</label>
                <select name="discount" id="discount" class="form-cajaDiscount">
                  <option value="<%= productEdit.discount%>">Elegí</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                </select>
              </div>
              <!--CONTENEDOR SECCION-->
              <div class="cajaSection">
                <label for="section" class="seccionProd">Sección:</label>
                <select name="section" id="section" class="form-cajaSection">
                  <option value="" selected>Elegí</option>
                  <option value="visitado">Producto destacado</option>
                  <option value="en-oferta">Producto en oferta</option>
                </select>
              </div>
              <!--CONTENEDOR DESCRIPCION DEL PRODUCTO-->
              <div class="cajaDescription">
                  <label for="description" class="descripcionProd">Descripción del producto:</label>
                  <textarea name="description" id="description" class="area-cajaDescription" value=""><%= productEdit.description%></textarea>
              </div>
          </div>
          <!--BOTON AGREGAR IMAGEN-->
          <div class="formulImg">
            <h2>Vista previa</h2>
            <div class="grid">
              <div class="form-element">
                <input type="file" id="file-1" accept="image/*" value="<%= productEdit.image %>" name="imageEdited1">
                <label for="file-1" id="file-1-preview">
                  <img src="/img/products/<%= productEdit.image %>" alt="">
                  <div>
                    <span>+</span>
                  </div>
                </label>
              </div>
              <div class="form-element">
                <input type="file" id="file-2" accept="image/*">
                <label for="file-2" id="file-2-preview">
                  <img src="/img/upload-image.png" alt="">
                  <div>
                    <span>+</span>
                  </div>
                </label>
              </div>
            </div>
          </div>
          <!--BOTON AGREGAR PRODUCTO-->
          <div class="cajaAgregar">
            <p id="texto">Guardar</p>
            <button type="submit" class="botonAgregar" onclick="return confirmDelete()"></button>
          </div>
          <!--BOTON CANCELAR-->
          <div class="cajaCancelar">
            <p id="texto2">Cancelar</p>
            <button type="submit" class="botonCancelar"></button>
          </div>
    </form>
  </div>
</section>
</main>
<!--SECCION JS-->
<script>
  function previewBeforeUpload(id){
  document.querySelector("#"+id).addEventListener("change",function(e){
    if(e.target.files.length == 0){
      return;
    }
    let file = e.target.files[0];
    let url = URL.createObjectURL(file);
    document.querySelector("#"+id+"-preview div").innerText = file.name;
    document.querySelector("#"+id+"-preview img").src = url;
  });

}

previewBeforeUpload("file-1");
previewBeforeUpload("file-2");


function confirmDelete(){
    let respuesta = confirm("Esta seguro que desea guardar los cambios?");
    if (respuesta == true){
        return true;
    }else{
        return false;
    }
}
</script>

      <!-- FOOTER -->
<%- include('../partials/footer') %>
</body>
</html>