<!DOCTYPE html>
<html lang="en">

<!--==========================
            HEAD
============================-->
<%-include('../partials/head', {title:"products", style:"styles-products"}) %>

<!--==========================
            BODY
============================-->
<body>
  <!--HEADER-->
  <%- include('../partials/header') %>
    <!--==========================
        BORDE ENTRE HEADER Y MAIN
    ============================-->      
    <div class="space-between-header-main">
    </div>
   
<!--==========================
           MAIN
============================--> 
    <main>
       
        <div class="main-principal">
            
            <div class="main-principal-carrusel">
                <div class="bar-carrusel">
                    <div class="carrusel-principal">
                        <img src="/img/products/<%= product.image %>" alt="Homalomena 'Selby'1">
                    </div>
                    <div class="carrusel-secundario">
                        <div>
                            <img src="/img/products/<%= product.image %>" alt="Homalomena 'Selby'2">
                        </div>
                        <div>
                            <img src="/img/products/<%= product.image %>" alt="Homalomena 'Selby'3">
                        </div>
                        <div>
                            <img src="/img/products/<%= product.image %>" alt="Homalomena 'Selby'4">
                        </div>

                    </div>
                </div>
                <div class="main-secundario-products">
                    <div class="name-product">
                        <h1><%= product.name%></h1>
                        <div class="size-product"> Maceta
                            <% for(j=0; j<product.tamaños.length; j++) {%>
                                  <span><%= product.tamaños[j].name %></span>
                                <% } %>
                        </div>
                        <div class="cost-product">
                            <span>$<%= product.price%></span>
                        </div>
                        
                    </div>
            
                    <div class="product-add">
                        <div class="amount-button">
                            <div class="amount-group">
                                <a href=""><i class="far fa-minus-square"></i></a>
                                <input type="text" value="1">
                                <a href=""><i class="far fa-plus-square"></i></a> 
                            </div>
                        </div>
                        <div class="product-detail-action">
                            <button type="submit" name="add">Agregar al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
        

        <div class="main-description">
            <section class="description-bar">
                <article class="article-description">
                    <ul>
                        <%= product.description %>
                    </ul>
                </article>
            </section>
        </div>

        <div class="title-otherproducts">
            <h3>Las personas que vieron este producto también vieron</h3>
        </div>

       

        

                   

    </main>


<!--=====================================
    F O O T E R
======================================-->
<%- include('../partials/footer') %>
<script src='/js/menu-hamburguer/hamburguer-button.js'></script>

    

</body>
</html>