<!DOCTYPE html>
<html lang="en">

<!--==========================
            HEAD
============================-->
<%-include('../partials/head', {title:"products", style:"styles-productCreate"}) %>

<!--==========================
            BODY
============================-->
<body>
  <!--HEADER-->
  <%- include('../partials/header') %>
    <!--==========================
        BORDE ENTRE HEADER Y MAIN
    ============================-->      
    <div class="space-between-header-main">
    </div>
   
<!--==========================
           MAIN
============================--> 


<main>
<section>

 <ul class='errores'></ul> 
<!--CONTENEDOR DE TODO EL FORMULARIO-->
  <div class="cajaPrincipal">
    <h2>CREAR PRODUCTO</h2>
    <!--LINEA BAJO EL TEXTO-->
    <hr color="#edafa4">
    <form action="/products/create" method="POST" enctype="multipart/form-data" id='formLabel'>
        <div class="forlularios">
            <!--CONTENEDOR NOMBRE DEL PRODUCTO-->
            <div class="cajaName">
              <label for="name" class="nombreProd">Nombre del producto:</label>
              <input type="text" 
              id="name" 
              name="name" 
              placeholder="Ej: orquidea" 
              class="form-cajaName"
              value="<%= locals.oldData ? oldData.name : null %>"
              >
              <% if (locals.errors && errors.name) { %>
                <div class="msgError">
                    <%= errors.name.msg %> 
                </div>
            <% } %>
            <spam class='error'></spam>
            </div>
            <!--CONTENEDOR CATEGORIA-->
            <div class="cajaCategory">
              <label for="category" class="categoriaProd">Categoría:</label>
              <select name="category" id="category" class="form-cajaCategory">
                <option value="" disabled selected>Elige una categoría</option>

                  <% for( let i = 0; i < category.length; i++ ) { %>
                    <% if (locals.oldData) { %>
                        <option value=" <%= category[i].id%>" 
                          <%= category[i].id == oldData.category ? 'selected' : null %>
                          > 
                          <%= category[i].name%> 
                        </option>
                      <% }else{ %>
                        <option value=" <%= category[i].id%>" > 
                          <%= category[i].name%> 
                        </option>
                      <% } %>
                  <% } %>
              </select>
              <% if (locals.errors && errors.category) { %>
                <div class="msgError">
                    <%= errors.category.msg %> 
                </div>
            <% } %>
            <spam class='error'></spam>
            </div>
           
            <!--CONTENEDOR PRECIO-->
            <div class="cajaPrice">
              <label for="price" class="precioProd">Precio del producto $:</label>
              <input type="number" 
              id="price" 
              name="price" 
              placeholder="Ej: 2220 " 
              class="form-cajaPrice"
              value="<%= locals.oldData ? oldData.price : null %>"
              >
              <% if (locals.errors && errors.price) { %>
                <div class="msgError">
                    <%= errors.price.msg %> 
                </div>
            <% } %>
            <spam class='error'></spam>
            </div>

                      
            <!--CONTENEDOR DESCUENTO-->
            <div class="cajaDiscount">
              <label for="discount" class="descuProd">Descuento %:</label>
              <input type="number" 
              id="discount" 
              name="discount" 
              class="form-cajaName"
              value="<%= locals.oldData ? oldData.discount : null %>"
              >
              <% if (locals.errors && errors.discount) { %>
                <div class="msgError">
                    <%= errors.discount.msg %> 
                </div>
            <% } %>
            <spam class='error'></spam>
            </div>

             <!--CONTENEDOR CAPACIDAD-->
             <div class="cajaCapacity">
              <label for="size" class="capacidadProd">Maceta:</label>
              <% for (let i=0; i < size.length; i++) { %> 
                  <div class="sizeProduct">
                      <input type="checkbox" 
                        name="sizeProduct" 
                        id="<%= size[i].name %>" 
                        class="capacity"
                        value="<%= size[i].id %>" 
                        <% if (locals.oldData) { %> 
                          <% for (let j = 0; j < oldData.sizeProduct.length; j++) { %>
                            <%=  size[i].id == oldData.sizeProduct[j] ? 'checked' : null %>                      }
                          <% } %>
                        <% } %> 
                        >   
                      <label for="<%= size[i].name %>"><%= size[i].name %></label>
                      <spam class='error'></spam>
                  </div>   
                <% } %> 
              
                <% if (locals.errors && errors.sizeProduct) { %>
                  <div class="msgError">
                      <%= errors.sizeProduct.msg %> 
                  </div>
              <% } %>
              <spam class='error'></spam>
            </div>
            <!--CONTENEDOR DESCRIPCION DEL PRODUCTO-->
            <div class="cajaDescription">
              <label for="description" class="descripcionProd">Descripción del producto:</label>
              <textarea name="description" id="description" class="area-cajaDescription"><%= locals.oldData ? oldData.description : null %></textarea>
              <% if (locals.errors && errors.description) { %>
                <div class="msgError">
                    <%= errors.description.msg %> 
                </div>
            <% } %>
            <spam class='error'></spam>
            </div>
        </div>
        <!--BOTON AGREGAR IMAGEN-->
        <div class="formulImg">
          <h2>Vista previa</h2>
          <div class="grid">
            <div class="form-element">
              <input type="file" id="file-1" name="image1">
              <label for="file-1" id="file-1-preview">
                <img name="image" src="/img/upload-image.png" alt="" >
                <div>
                  <span>+</span>
                </div>
              </label>
              <spam class='error'></spam>
            </div>

            <% if (locals.errors && errors.image1) { %>
              <div class="msgError">
                  <%= errors.image1.msg %> 
              </div>
          <% } %>
            <div class="form-element">
              <input type="file" id="file-2" accept="image/*">
              <label for="file-2" id="file-2-preview">
                <img name="image" src="/img/upload-image.png" alt="">
                <div>
                  <span>+</span>
                </div>
              </label>
            </div>
          </div>
        </div>
        <!--BOTON AGREGAR PRODUCTO-->
        <div class="cajaAgregar">
          <p id="texto">Guardar</p>
          <button type="submit" class="botonAgregar"></button>
        </div>
    </form>
  </div>

</section>
</main>
<!--SECCION JS-->
<script>
  function previewBeforeUpload(id){
  document.querySelector("#"+id).addEventListener("change",function(e){
    if(e.target.files.length == 0){
      return;
    }
    let file = e.target.files[0];
    let url = URL.createObjectURL(file);
    document.querySelector("#"+id+"-preview div").innerText = file.name;
    document.querySelector("#"+id+"-preview img").src = url;
  });
}

previewBeforeUpload("file-1");
previewBeforeUpload("file-2");
</script>

      <!-- FOOTER -->
<%- include('../partials/footer') %>
<script src='/js/validations/productsCreFrontVal.js'></script>
<script src='/js/menu-hamburguer/hamburguer-button.js'></script>
</body>
</html>