<!DOCTYPE html>
<html lang="en">

<!--==========================
            HEAD
============================-->
<%-include('../partials/head', {title:"products", style:"styles-productEdit"}) %>

<!--==========================
            BODY
============================-->
<body>
  <!--HEADER-->
  <%- include('../partials/header') %>
    <!--==========================
        BORDE ENTRE HEADER Y MAIN
    ============================-->      
    <div class="space-between-header-main">
    </div>
   
<!--==========================
           MAIN
============================--> 


<main>
<section>
  <ul class='errores'></ul>
<!--CONTENEDOR DE TODO EL FORMULARIO-->
  <div class="cajaPrincipal">
    <h2>EDITAR PRODUCTO</h2>
    <!--LINEA BAJO EL TEXTO-->
    <hr color="#edafa4">
    <form action="/products/edit/<%= product.id%>?_method=PUT" method="Post" enctype="multipart/form-data" id='formLabel'>
        <div class="p-editproduct">
        <p>EDITANDO EL PRODUCTO: <%= product.name%></p>
        </div>
          <!--CONTENEDOR DE FORMULARIOS SIN CARGAR IMAGENES NI BOTON-->
          <div class="forlularios">
              <!--CONTENEDOR NOMBRE DEL PRODUCTO-->
              <div class="cajaName">
                  <label for="name" class="nombreProd">Nombre del producto:</label>
                  <input type="text" id="name" name="name" class="form-cajaName" value="<%= product.name%>">
              </div>
              <!--CONTENEDOR CATEGORIA-->
              <div class="cajaCategory">
                  <label for="category" class="categoriaProd">Categoría:</label>
                  <select name="category" id="category" class="form-cajaCategory" value="">
                      <option value="">Elegí</option>
                      <% categorys.forEach(category => { %>
                          <% if (category.id == product.category_id){ %>
                                <option value= <%= category.id %> selected > <%= category.name%> </option>
                          <% }else{ %>
                              <option value= <%= category.id %>> <%= category.name%>  </option>
                         <% } %>
                      <% }); %>
                  </select>
              </div> 
              <!--CONTENEDOR CAPACIDAD-->
              <div class="cajaCapacity">
                <label for="size" class="capasidadProd">Maceta:</label>
                <select name="size" id="size" class="form-cajaSection">
                  <option value="">Elegí</option>
                  <% for (let j=0; j< product.tamaños.length; j++) { %>
                    <% for (let i = 0; i < size.length; i++) { %>
                        <% if (size[i].id == product.tamaños[j].id){ %>
                          <option value= <%= product.tamaños[j].id %> selected > <%= product.tamaños[j].name%> </option>
                        <% }else{ %>
                          <option value= <%= size[i].id %>> <%= size[i].name%>  </option>
                        <% } %>
                      <% } %>
                  <% }%>
                </select>
              </div>
              <!--CONTENEDOR PRECIO-->
              <div class="cajaPrice">
                  <label for="price" class="precioProd">Precio del producto $:</label>
                  <input type="number" id="price" name="price" class="form-cajaPrice" value="<%= product.price%>">
              </div>
              <!--CONTENEDOR DESCUENTO-->
              <div class="cajaDiscount">
                <label for="discount" class="descuProd">Descuento %:</label>
                <input type="number" name="discount" class="form-cajaName" value="<%= product.discount%>">
              </div>
              
              <!--CONTENEDOR DESCRIPCION DEL PRODUCTO-->
              <div class="cajaDescription">
                  <label for="description" class="descripcionProd">Descripción del producto:</label>
                  <textarea name="description" id="description" class="area-cajaDescription" value=""><%= product.description%></textarea>
              </div>
          </div>
          <!--BOTON AGREGAR IMAGEN-->
          <div class="formulImg">
            <h2>Vista previa</h2>
            <div class="grid">
              <div class="form-element">
                <input type="file" id="file-1" accept="image/*" value="<%= product.image %>" name="imageEdited1">
                <label for="file-1" id="file-1-preview">
                  <img src="/img/products/<%= product.image %>" alt="">
                  <div>
                    <span>+</span>
                  </div>
                </label>
              </div>
              <div class="form-element">
                <input type="file" id="file-2" accept="image/*">
                <label for="file-2" id="file-2-preview">
                  <img src="/img/upload-image.png" alt="">
                  <div>
                    <span>+</span>
                  </div>
                </label>
              </div>
            </div>
          </div>
          <!--BOTON AGREGAR PRODUCTO-->
          <div class="cajaAgregar">
            <p id="texto">Guardar</p>
            <button type="submit" class="botonAgregar" onclick="return confirmDelete()"></button>
          </div>
          <!--BOTON CANCELAR-->
          <div class="cajaCancelar">
            <p id="texto2">Cancelar</p>
            <button type="submit" class="botonCancelar"></button>
          </div>
    </form>
  </div>
</section>
</main>
<!--SECCION JS-->
<script>
  function previewBeforeUpload(id){
  document.querySelector("#"+id).addEventListener("change",function(e){
    if(e.target.files.length == 0){
      return;
    }
    let file = e.target.files[0];
    let url = URL.createObjectURL(file);
    document.querySelector("#"+id+"-preview div").innerText = file.name;
    document.querySelector("#"+id+"-preview img").src = url;
  });

}

previewBeforeUpload("file-1");
previewBeforeUpload("file-2");

//ESTO SE COMENTO PARA PROBAR SI ERA EL ERROR DE VALIDACION FRONT
/* function confirmDelete(){
    let respuesta = confirm("Esta seguro que desea guardar los cambios?");
    if (respuesta == true){
        return true;
    }else{
        return false;
    }
} */
</script>

      <!-- FOOTER -->
<%- include('../partials/footer') %>

<script src='/js/validations/productsEdiFrontVal.js'></script>

</body>
</html>