<!DOCTYPE html>
<html lang="en">
  <%-include('../partials/head', {title:"productos", style:"products"}) %>
<body>
      <!--
        HEADER
      -->
  <%- include('../partials/header') %>

 <main>

  <!----------------------
            BANNER
    ---------------------->
  <div class="main">
    <!--==========================
        BORDE ENTRE HEADER Y MAIN
    ============================-->      
    <div class="space-between-header-main"></div>
    
<!----------------------
                FILTRADO
        ---------------------->
    <div class="main-banner">
          <div class="category">
            
                <div class="plant1" >
                    <a href="/products/category/1"> 
                        <div class="pl1"> <img src="./img/plantasInterior.png" alt=""> </div>
                    </a>
                </div>
            
                <div class="plant2"  >
                    <a href="/products/category/2"> 
                      <div class="pl2"><img src="./img/plantasExterior.png" alt=""></div>
                    </a>
                </div>
          </div>
      </div>
       <!----------------------
            TERMINA FILTRADO
       ---------------------->

       <div class="bannerLogo">
         <h2>Hacemos de tu hogar un ambiente agradable, con la tranquilidad y armonía de nuestras plantas.</h2>
        </div>

<!--ICONO AGREGAR PRODUCTO-->
<!-- <div class="cajaAgregar">
  <a href="/products/create"><i class="fas fa-dolly-flatbed"></i></a>
</div> -->

        <div class="productsList">
          <% for( let i = 0; i< products.length; i++ ) { %>
            <% if ((products[i].categoria) && (products[i].tamaños)) { %> 
          <div class="producto-destacado">
            <article class="articleProduct">
                <div class="div-img">
                  <a href="/products/detail/<%= products[i].id%>"><img src="/img/products/<%= products[i].image %>"></a>
                  <!--ETIQUETA DE DESCUENTO-->
                  <% if (products[i].discount> 0) { %>
                    <div class='divDescuento'>
                      <p class='descuento'>Descuento</p>
                      <p class='descuento'><%= products[i].discount %>%</p>       
                    </div>
                  <% } %>
                </div>
                <div class="productsDescription">
                  <div>
                    <p class="nombre-planta"><%= products[i].name %></p>
                    
                    <p class="nombre-cienti">Maceta <% for(j=0; j<products[i].tamaños.length; j++) {%>
                      <% if (j == products[i].tamaños.length - 1) { %>
                        <span><%= products[i].tamaños[j].name %> </span>
                      <% }else{%>
                        <span><%= products[i].tamaños[j].name %>-</span>
                      <% } %>
                      <% } %>
                    </p>
                      
                  </div>
                    <div class="precio">
                      <% if (products[i].discount> 0) { %>
                        <p id="precio-sinDescuento">$<%= products[i].price %></p>
                    <% } %>
                      <p> $<%= (products[i].price- (products[i].price * (products[i].discount * 0.01)))%></p>
                    </div>
                    <div class="container-button">
                      <button class="boton-carrito" type="button">Agregar al carrito</button>
                    </div>
                    <% if(locals.userLogged && locals.userLogged.rol_id == 1) {%>
                      <form action="/products/delete/<%= products[i].id%>?_method=DELETE" method="POST" class="forms-button">
                          <a href="/products/edit/<%= products[i].id%>"><i class="fas fa-edit"></i></a>
                          <button type="submit"><i class="fas fa-trash"></i></button>
                      </form>
                    <% } %>
                </div>
            </article>  
          </div>
          <% } %>
        <% } %>
        </div>
  </div>
</main>

  
<!------------ 
    FOOTER
 ------------->
<%- include('../partials/footer') %>
</body>
</html>