<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head', {title:"categorys", style:"styles-category"}) %>
<body>
      <!--
        HEADER
      -->
  <%- include('../partials/header') %>

  <main>
  <!----------------------
            BANNER
    ---------------------->
  <div class="main">
    <%  let categoryFind = categorys.find(category => category.cod_category == idCategory)%>
    <div class="<%= categoryFind.clase%>">
        <h1 class="titulo-listado"><%= categoryFind.name %></h1>
    </div>

      <div class="productsList">
        <% productsCategory.forEach (producto => { %>
          <% const productCapacity = capacitys.find(capacity => capacity.cod_capacity == producto.capacity);
          const capacityName = productCapacity.name %>
        <div class="producto-destacado">
          <article>
            <div class="div-img">
              <a href="/products/detail/<%= producto.cod_product%>"><img src="/img/products/<%= producto.image %>"></a>
            </div>
            <div class="productsDescription">
                <div>
                  <p class="nombre-planta"><%= producto.name %></p>
                  <p class="nombre-cienti">Maceta <%=capacityName %> </p>
                </div>
                <div class="precio">
                  <p> $<%= producto.price %></p>
                </div>
                <div class="container-button">
                  <button class="boton-carrito" type="button">Agregar al carrito</button>
                </div>
                <form action="/products/delete/<%= producto.cod_product %>?_method=DELETE" method="POST" class="forms-button">
                    <a href="/products/edit/<%= producto.cod_product%>"><i class="fas fa-edit"></i></a>
                    <button type="submit"><i class="fas fa-trash"></i></button>
                </form>
              </div>
          </article>  
        </div>
        <% }) %>
      </div>
  </div>
</main>
  
      <!-- 
        FOOTER
       -->
  <%- include('../partials/footer') %>
</body>
</html>