<!DOCTYPE html>
<html lang="en">

  <%-include('./partials/head', {title:"Vivero Sunflower", style:"styles-index"}) %>

<body> 
  <!--HEADER-->
  <%- include('./partials/header') %>
<!--==========================
   BORDE ENTRE HEADER Y MAIN
============================-->      

    <div class="space-between-header-main">
    </div>

    <!--CONTENEDOR DE LAS IMAGENES DEL CARRUSEL-->
  <div class="slider">
      <ul>
          <li><img src="/img/balcon-flores.jpeg" alt=""></li>
          <li><img src="/img/plantauno.jpg" alt=""></li>
          <li><img src="/img/plantados.jpg" alt=""></li>
          <!-- <li><img src="/img/plantatres.jpg" alt=""></li> -->
          <li><img src="/img/plantacuatro.jpg" alt=""></li>
      </ul>
  </div>
  <!--ACA TERMINA EL CONTENEDOR DE LAS IMAGENES DEL CARRUSEL-->

<main>
  <div>       
      <h1 class="copy">Conectate con la naturaleza</h1>
      <p class="frase">"El amor por la jardinería es una semilla que una vez sembrada nunca muere."</p>
      <p class="autora-frase">Gertrude Jekyll</p>
  </div>

<!--LINEA INFERIOR DEL TEXTO-->
<hr color="#edafa4" />

<!--OFERTAS-->
<h2 class="productos-destacados">Productos en oferta</h2>
  <section class="destacados">
  <div class="cuatro-articulos">
    <div class="dos-articulos">

    <% for( let i = 0; i< products.length; i++ ) { %>
      <% if ((products[i].categoria) && (products[i].tamaños)) { %> 
        <%if(products[i].discount>0){%>
          <div class="producto-destacado">
          <article class="article-div">
            <div class="div-img">
            <a href="/products/detail/<%= products[i].id%>"><img src="/img/products/<%= products[i].image %>"></a>
            <!--ETIQUETA DE DESCUENTO-->
            <div class='divDescuento'>
              <p class='descuento'>Descuento</p>
              <p class='descuento'><%= products[i].discount %>%</p>       
            </div>
          </div>
 
          <div class="articulo-pie">
            <p ><%= products[i].name %></p>
            <p >Maceta 
              <% for(j=0; j<products[i].tamaños.length; j++) {%>
                <% if (j == products[i].tamaños.length - 1) { %>
                  <span><%= products[i].tamaños[j].name %> </span>
                <% }else{%>
                  <span><%= products[i].tamaños[j].name %>-</span>
                <% } %>
              <% } %>
            </p>
          </div>
          <div class="precio">
            <p> $<%= products[i].price %></p>
          </div>
          <div class="container-button">
            <button class="boton-carrito" type="button">Agregar al carrito</button>
          </div>
          </article>
          </div>
        <% } %>
      <% } %>
    <% } %>
      </div>
    </div>
  </section>

    

  <h2 class="productos-destacados">Otros productos</h2>
  <section class="destacados">
  <div class="cuatro-articulos">
    <div class="dos-articulos">

    <% for( let i = 0; i< products.length; i++ ) { %>
       <% if ((products[i].categoria) && (products[i].tamaños)) { %> 
         <%if(products[i].discount==0){%>
            <div class="producto-destacado">
            <article>
              <div class="div-img">
              <a href="/products/detail/<%= products[i].id%>"><img src="/img/products/<%= products[i].image %>"></a>
            </div>
            <div class="articulo-pie">
              <p class="nombre-planta"><%= products[i].name %></p>
              <p class="nombre-cienti">Maceta 
                <% for(j=0; j<products[i].tamaños.length; j++) {%>
                  <% if (j == products[i].tamaños.length - 1) { %>
                    <span><%= products[i].tamaños[j].name %> </span>
                  <% }else{%>
                    <span><%= products[i].tamaños[j].name %>-</span>
                  <% } %>
                <% } %>
                </p>
            </div>

            <div class="precio">
              <p> $<%= products[i].price %></p>
            </div>
            <div class="container-button">
              <button class="boton-carrito" type="button">Agregar al carrito</button>
            </div>
            </article>
            </div>
        <% } %>
    <% } %>   
  <% } %>   
    </div>
    </div>
  </section>


<section>
  <div class="container-ultimo">
   <div class="camion-envio">
    <i class="fas fa-truck"></i>
     <p>Envíos área metropolitana</p>     
  </div>
  <div class="pago-en-linea">
  <div class="icon">
    <img src="/img/pago.png">
  </div>
      <p class="pago-texto">Pago en línea</p>
  </div>
  <div class="cambios">
    <i class="fas fa-exchange-alt"></i>
      <p>Cambios y garantías</p>
  </div>
  <div class="compra-segura">
    <i class="fas fa-shield-alt"></i>
      <p>Compra segura</p>
  </div>
</div>
</section>
</main>
          

<%- include('./partials/footer') %>

</body>

</html>