<!DOCTYPE html>
<html lang="en">

<!--==========================
            HEAD
============================-->
    <%-include('../partials/head', {title:"Login", style:"styles-login"}) %>


<!--==========================
            BODY
============================-->
<body>
    <!-----HEADER------>
    <%- include('../partials/header') %>

   <!--==========================
       BORDE ENTRE HEADER Y MAIN
    ============================-->      

    <div class="space-between-header-main">

    </div>


<!--############################# LINEA DIVISORA ENTRE EL ENCABEZADO Y EL CUERPO ##############################-->

    <main>
<!--CONTIENE TODOS LOS ELEMENTOS DEL CUERPO-->
        <div class="container">
            <!--TEXTO DEL LOGIN-->
            <h3>LOGIN</h3>
            <!--LINEA INFERIOR DEL LOGIN-->
                <hr color="#edafa4">
            <form action="/users/login" method="post" autocomplete="on">
                <!--CONTIENE LAS CAJAS USUARIO Y CONTRASEÑA-->
                <div class="caja-datos">
                    <!--CAMPO USUARIO-->
                    <div class="individual-box">
                        <input
                         type="text"
                         id="userbox"
                         name="userbox"
                         placeholder="Nombre de Usuario"
                         value="<%= locals.oldData ? oldData.userbox : null %>"
                         class="input-user">
                         <% if (locals.errors && errors.userbox) { %>
                           <div class="text-danger">
                             <%= errors.userbox.msg %> 
                         </div>   
                        <% } %> 
                    </div>
                    <!--CAMPO CONTRASEÑA-->
                    <div class="individual-box">   
                        <input type="password"
                        id="password_box" 
                        name="password_box" 
                        placeholder="Contraseña" 
                        value="<%= locals.oldData ? oldData.password_box : null %>"
                        class="input-user">
                         <% if (locals.errors && errors.password_box) { %>
                           <div class="text-danger">
                             <%= errors.password_box.msg %> 
                         </div>   
                        <% } %> 
                    </div>
                    <!--CAJA CONTENEDORA RECUERDAME-->
                    <div class="minicaja">
                        <input id="minibox" type="checkbox" name="minibox">
                        <label for="minibox">Recuérdame</label>
                    </div>
                </div>
                <!--CAJA CONTENEDORA DEL BOTON ENVIAR-->
                    <div class="caja-botonenviar">
                        <input type="submit" value="Enviar" class="boton-enviar">
                </div>
            </form>
            <!--PARRAFOS OLVIDASTE TU CONTRASEÑA Y NO TIENES UNA CUENTA-->
                <div class="caja-parrafos">
                    <p class="olvidaste"><a class="link" href="#">¿Olvidaste tu contraseña?</a></p>
                    <p class="registrate">¿No tienes una cuenta?, <a class="link" href="/users/register">Regístrate</a></p>
                </div>
            </div>

    </main>

<!--############################# LINEA DIVISORA ENTRE EL CUERPO Y EL FOOTER ##############################-->

      <!-----FOOTER----->
      <%- include('../partials/footer') %>
      
</body>   
</html>v