<!DOCTYPE html>
<html lang="en">

<!--==========================
            HEAD
============================-->
<%-include('../partials/head', {title:"Register", style:"styles-register"}) %>

<!--==========================
            BODY
============================-->
<body>
    <%- include('../partials/header') %>

   <!--==========================
       BORDE ENTRE HEADER Y MAIN
    ============================-->      

    <div class="space-between-header-main">
    </div>

<!--############################# LINEA DIVISORA ENTRE EL ENCABEZADO Y EL CUERPO ##############################--> 
    <main>
<!--CONTENEDOR DE TODOS LOS ELEMENTOS DE CUERPO-->
        <div class="container">
            <h3>REGÍSTRATE</h3>
                <hr color="#edafa4">
            <form action="/users/register" method="POST" enctype="multipart/form-data">
                <!--CONTENEDOR FORMULARIO-->
                <div class="caja-datos">
                    <div class="individual-box">
                        <input type="name" 
                        name="first_name" 
                        placeholder="Nombre"
                        value="<%= locals.oldData ? oldData.first_name : null %>"
                        >
                        <% if (locals.errors && errors.first_name) { %>
                            <div class="msgError">
                                <%= errors.first_name.msg %> 
                            </div>
                        <% } %>
                    </div>
                    
                    <div class="individual-box">   
                        <input type="surname"
                        name="last_name" 
                        placeholder="Apellido"
                        value="<%= locals.oldData ? oldData.last_name : null %>"
                        >
                        <% if (locals.errors && errors.last_name) { %>
                            <div class="msgError">
                                <%= errors.last_name.msg %> 
                            </div>
                        <% } %>
                    </div>

                    <div class="individual-box">   
                        <input type="email" 
                        name="email" 
                        placeholder="E-mail"
                        value="<%= locals.oldData ? oldData.email : null %>"
                        >
                        <% if (locals.errors && errors.email) { %>
                            <div class="msgError">
                                <%= errors.email.msg %> 
                            </div>
                        <% } %>
                    </div>

                    <div class="individual-box">
                        <input 
                        type="phone" 
                        name="phone" 
                        placeholder="Teléfono"
                        value="<%= locals.oldData ? oldData.phone : null %>"
                        >
                        <% if (locals.errors && errors.phone) { %>
                            <div class="msgError">
                                <%= errors.phone.msg %> 
                            </div>
                        <% } %>
                    </div>

                    <div class="individual-box">   
                        <input 
                        type="password"  
                        name="password" 
                        placeholder="Contraseña"
                        >
                        <% if (locals.errors && errors.password) { %>
                            <div class="msgError">
                                <%= errors.password.msg %> 
                            </div>
                        <% } %>
                    </div>

                    <div class="individual-box">
                        <input type="password"  name="repassword" placeholder="Confirmar contraseña">
                        <% if (locals.errors && errors.repassword) { %>
                            <div class="msgError">
                                <%= errors.repassword.msg %> 
                            </div>
                        <% } %>
                    </div>
                    <!-- <div class="individual-box">
                        <label for="user_type" class="etiqueta-tUsuario">Tipo de usuario:</label>
                        <select name="user_type" id="user_type" class="form-categoria">
                            <option value="usuario">Usuario</option>
                            <option value="superusuario">Superusuario</option>
                            <option value="admin">Administrador</option>
                        </select>
                    </div> -->
                </div>

    <!--BOTON AGREGAR AVATAR-->
    <div class="formulImg">
        <h2>Imagen de perfil</h2>
        <div class="grid">
          <div class="form-element">
            <input type="file" id="file-1" name="image_profile" accept="image/*">
            <label for="file-1" id="file-1-preview">
              <img src="/img/upload-image.png" alt="">
              <div>
                <span>+</span>
              </div>
            </label>
          </div>
        </div>
    </div>
    <% if (locals.errors && errors.image_profile) { %>
        <div class="msgError">
            <%= errors.image_profile.msg %> 
        </div>
    <% } %>

                <div class="caja-botonenviar">
                    <input type="submit" value="Enviar" class="boton-enviar">
                </div>
            </form>
        </div>
</main>

<!--SECCION JS-->
<script>
    function previewBeforeUpload(id){
    document.querySelector("#"+id).addEventListener("change",function(e){
      if(e.target.files.length == 0){
        return;
      }
      let file = e.target.files[0];
      let url = URL.createObjectURL(file);
      document.querySelector("#"+id+"-preview div").innerText = file.name;
      document.querySelector("#"+id+"-preview img").src = url;
    });
  }
  
  previewBeforeUpload("file-1");
  </script>

<!--############################# LINEA DIVISORA ENTRE EL CUERPO Y EL FOOTER ##############################-->

    <!-- FOOTER -->
    <%- include('../partials/footer') %>
</body>
</html>
 
